# Core
fastapi
uvicorn
python-dotenv
pydantic

# Data Processing
numpy
pandas
scipy

# Machine Learning
scikit-learn
statsmodels
xgboost
joblib

# HTTP
requests
httpx

# Geo
geopandas
shapely

# CORS
python-multipart

# Database & Spatial Processing
psycopg2-binary
SQLAlchemy
geoalchemy2
geopandas
rasterio
xarray
earthpy
pyproj
